<div>
  <form>
    <fieldset>
      <label> Port ID:  </label>
      <input type="text" [(ngModel)] = "searchText" name ="search" placeholder="Enter port ID" >
    </fieldset>
  </form>
  <button (click) = "d(this.id)" >Submit</button>
  
  <ul>
    <li *ngFor ="let p of portalid |filter: searchText "  >
      {{p}}
    </li>
  </ul>
  
  
  
  
    
</div>



<div class ="container" fxLayout="column" fxLayoutGap="10px" >
  <div fxFlex>
    <div>
      <h3> Cars</h3>
    </div>
  </div>
  <div fxFlex >
    <mat-grid-list cols="2" rowHeight ="200px" >
      <mat-list-item *ngFor = "let car of cars">
        <img matListAvatar height="50px" width="50px" src={{car.image}} alt={{car.CAR_MODEL}}>
            <h1 matLine> {{car.SEL_COLOR}} </h1>
            <p matLine> {{car.CAR_MODEL}} </p>        
            <p matLine> {{car.port_ID}} </p>        
            <p matLine> {{car.amount}} </p>          
      </mat-list-item>
    </mat-grid-list>
  </div>

</div>



